<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en'>
  <!--<![endif]-->
  <head>
    <meta charset='utf-8' />
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
    <title>Senza Sordino: The Future of Music in Higher Education</title>
    <meta content='Senza Sordino: a conference about the Future of Music in Higher Education' name='description' />
    <meta content='Jason Dixon' name='author' />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic' rel='stylesheet' type='text/css'>
    <link href='css/style.css?v=1' media='all' rel='stylesheet' />
<link rel="stylesheet" type="text/css" href="css/grid.css" media="screen" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <script src='js/modernizr.min.js'></script>
    <script src='js/respond.min.js'></script>
  </head>
  <body>
    <div class="row" id='container'>
      <header>	
	<div class="logo col_5 col">Senza Sordino</div>
    <nav class="col_11 col">
    <ul>
	<li class="last"><a href="booking.html">Booking</a></li>
	<li><a href="location.html">Location</a></li>
	<li><a href="concerts.html">Concerts</a></li>
	<li><a href="keynotes.html">Keynotes</a></li>
	<li><a href="schedule.html">Schedule</a></li>
	<li><a href="call.html">Call</a></li>
	<li><a href="/">About</a></li>
    </ul>
    </nav>
<div class="clear"></div>
<div class="subhead col_16 col">The Future of Music in Higher Education</div>
      <div class="clear"></div>
	</header>
	</div>
	<section class="row" id='main'>
      	{{content}}
      </section>
      <footer class="row">
      	<div class="col_16 col">contact us :: <span class="email">mail@<span>deleteme</span>senzasordino.org</span></div>
      </footer>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js'></script>
    <script type='text/javascript'>
      //<![CDATA[
        window.jQuery || document.write("<script src='js/jquery.min.js'>\x3C/script>")
      //]]>
    </script>
    <script src='js/plugins.js?v=1'></script>
    <script src='js/script.js?v=1'></script>
    <script type='text/javascript'>
      //<![CDATA[
        var _gaq=[["_setAccount","UA-28600576-1"],["_trackPageview"],["_trackPageLoadTime"]];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
        s.parentNode.insertBefore(g,s)}(document,"script"));
      //]]>
    </script>
  </body>
</html>
